.title {
  font-size: 26px;
  color: #348f50;
  font-weight: 800;
  margin-top: 0;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  border: 1px solid #348f50;
  border-radius: 20px;
  box-shadow: -7px 20px 14px -7px rgba(0, 0, 0, 0.36);
}

.formGroup {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  font-size: 20px;
  span {
    color: red;
  }
  label {
    font-size: 20px;
    font-weight: 800;
    margin-right: 10px;
  }
  select,
  input {
    height: 30px;
    font-size: 18px;
  }
  textarea {
    height: 100px;
  }
}

.btn {
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 18px;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: 800;
  background-color: #348f50;
  width: 160px;
  &:hover {
    background-color: #4ea669;
  }
}

.error {
  position: absolute;
  left: 0;
  bottom: -35px;
  font-size: 14px;
  color: red;
}
