.users {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 40px;
  column-gap: 40px;
  width: 80%;
}

.item {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  border: 1px solid #348f50;
  border-radius: 20px;
  box-shadow: -7px 20px 14px -7px rgba(0, 0, 0, 0.36);
  .name {
    font-size: 22px;
    font-weight: 800;
    a {
      text-decoration: none;
      color: black;
      cursor: pointer;
      &:hover {
        color: #348f50;
      }
    }
  }
  p {
    font-size: 20px;
    margin: 0 0 12px;

    span {
      font-weight: 800;
    }
  }
}

.deleteBtn,
.addBtn {
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 18px;
  padding: 8px 16px;
  border-radius: 4px;
}

.deleteBtn {
  background-color: #d77e7e;
  &:hover {
    background-color: #cfa2a2;
  }
}

.addBtn {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: #348f50;
  color: white;
  font-size: 30px;
  &:hover {
    background-color: #4ea669;
  }
}

.notFound {
  font-size: 26px;
  color: #348f50;
  font-weight: 800;
  margin-top: 40px;
}
