.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user {
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  border: 1px solid #348f50;
  border-radius: 20px;
  box-shadow: -7px 20px 14px -7px rgba(0, 0, 0, 0.36);
  p {
    font-size: 20px;
    margin: 0 0 12px;

    span {
      font-weight: 800;
    }
  }
}

.btns {
  display: flex;
  button {
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: 800;
  }
  
  .deleteBtn {
    background-color: #d77e7e;
    &:hover {
      background-color: #cfa2a2;
    }
  }

  .editBtn {
    background-color: #348f50;
    margin-right: 50px;
    &:hover {
      background-color: #4ea669;
    }
  }
}
