.header {
  position: fixed;
  top: 0;
  padding: 20px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background: linear-gradient(to right, #348f50, #56b4d3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 100%;
  z-index: 10;
  a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    &:hover {
      transition: 0.3s;
      color: antiquewhite;
    }
  }
}
.logo {
  font-size: 20px;
}
.activeItem {
  a {
    color: #27920d;
  }
}
