.app {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 110px 16px 40px;
  background: linear-gradient(to right, rgba(52, 143, 80, 0.2), rgba(86, 180, 211, 0.2));
}

